@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.875rem;
  font-style: italic;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}
h2.__menu-title {
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  font-style: italic;
}
@media screen and (min-width: 1024px) {
  h2.__menu-title {
    margin-right: 25px;
  }
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
}
h3.__toptext {
  text-transform: uppercase;
  padding-top: 25px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: #000;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  border-radius: 25px;
  padding: 10px;
}

.order {
  display: flex;
  justify-content: center;
}
.order__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 15px 50px;
  color: #fff;
  font-weight: 400;
  box-shadow: 2px 4px 20px #bfbfbf;
  margin: 0 0 40px 0;
  border: none;
  cursor: pointer;
  width: 200px;
  -webkit-transition: width 2s ease, background-color 5s ease;
  -moz-transition: width 2s ease, background-color 5s ease;
  -o-transition: width 2s ease, background-color 5s ease;
  transition: width 2s ease, background-color 5s ease;
}
.order__btn:hover {
  width: 260px;
  background: linear-gradient(#fc85da, #a16fdf);
  box-shadow: 2px 4px 20px #777777;
}
@media screen and (min-width: 1024px) {
  .order__btn {
    margin: -10px 0 50px 0;
  }
}
.order__btn a {
  color: #fff;
  font-size: 1.2rem;
}

.restaurant__icone {
  transition: transform 1000ms ease-in-out;
  transition-duration: 1s;
}
.restaurant__icone__heart {
  transform: scale(0.7);
}

.fill {
  color: black;
  cursor: pointer;
  transition-duration: 1s;
}
.fill:hover {
  animation: fill 0.3s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: transform 1000ms ease-in-out;
}

.fa-heart::before {
  transition-duration: 2s;
}

.description {
  position: relative;
  background-color: #fff;
  border-radius: 15px;
  margin: 25px 0;
  padding: 10px;
  cursor: pointer;
  transition: transform 1000ms ease-in-out;
  transition-duration: 0.5s;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari et Chrome */
  -o-animation: fadein 2s; /* Opera */
  animation: fadein 2s;
}
.description:hover {
  padding-right: 75px;
}
.description:hover .check {
  opacity: 1;
  transform: translate(-50px);
}
.description:hover .fa-solid.fa-circle-check {
  transform: rotate(360deg);
}

.check {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 59px;
  height: 69px;
  position: absolute;
  padding: 20px;
  right: -50px;
  top: 0;
  opacity: 0;
  transition-duration: 1s;
}
.check .fa-solid.fa-circle-check {
  color: #fff;
  transition: transform 600ms ease-in-out;
}

#card1 {
  animation-delay: 0.5s;
}

#card2 {
  animation-delay: 0.9s;
}

#card3 {
  animation-delay: 1.3s;
}

#card4 {
  animation-delay: 1.5s;
}

#card5 {
  animation-delay: 1.7s;
}

#card6 {
  animation-delay: 1.9s;
}

#card7 {
  animation-delay: 2.1s;
}

#card8 {
  animation-delay: 2.3s;
}

#card9 {
  animation-delay: 2.5s;
}

.header {
  background: #9356DC;
  height: 10rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
.header__logo {
  font-size: 1.875rem;
  color: #000;
  text-align: center;
  padding: 20px;
}
.header__arrow-left {
  position: absolute;
  top: 30px;
  left: 20px;
}

ul {
  list-style-type: none;
}

.container {
  background: #f7f7f7;
}

.footer {
  background: #353535;
  padding: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: center;
    padding: 40px;
  }
  .footer ul {
    display: flex;
    justify-content: space-evenly;
  }
  .footer .footer__logo {
    display: flex;
    flex-direction: row-reverse;
    order: 1;
  }
  .footer li {
    margin-right: 40px;
  }
}
.footer__logo {
  font-size: 1.125rem;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 10px;
}
.footer__icon {
  padding-right: 15px;
  width: 30px;
}
.footer__link {
  font-size: 1rem;
}
.footer__link__text {
  color: #fff;
}

.topmenu__img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
@media screen and (min-width: 1024px) {
  .topmenu__img {
    height: 450px;
  }
}

.content__menu {
  position: relative;
  background-color: #f7f7f7;
  border-radius: 25px 25px 0 0;
  width: 100%;
  padding: 15px;
  top: -40px;
}
@media screen and (min-width: 1024px) {
  .content__menu {
    width: 60%;
    padding: 15px;
    margin: auto;
    top: -60px;
  }
}
.content__menu__title {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .content__menu__title {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .cardmenu {
    width: 70%;
    margin: auto;
  }
}
.cardmenu__toptext {
  width: 30%;
}

.toptext__title__line {
  width: 45px;
  border: 2px solid #99E2D0;
}

.subtext {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.subtext__top {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.city {
  background: #eaeaea;
  margin: auto;
  height: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.city__textcity {
  padding-left: 10px;
}

.explore {
  background: #f7f7f7;
  text-align: center;
  padding: 40px 20px;
}
@media screen and (min-width: 1024px) {
  .explore .explore__btn {
    width: 15%;
  }
}
.explore a {
  color: #fff;
}
.explore__text {
  color: #353535;
  padding-top: 15px;
  margin-bottom: 25px;
}
.explore__btn {
  margin: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  box-shadow: 2px 4px 20px #bfbfbf;
  border: none;
  cursor: pointer;
  width: 70%;
  -webkit-transition: width 3s ease, background-color 3s ease;
  -moz-transition: width 3s ease, background-color 3s ease;
  -o-transition: width 3s ease, background-color 3s ease;
  transition: width 3s ease, background-color 3s ease;
}
.explore__btn:hover {
  width: 350px;
  background: linear-gradient(#fc85da, #a16fdf);
  box-shadow: 2px 4px 20px #777777;
}

.function {
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .function {
    padding: 70px 10px;
  }
  .function h2.function__title {
    width: 100%;
  }
  .function .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  .function .function__content {
    width: 30%;
  }
}
.function__title {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.function__content {
  background: #f7f7f7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin: auto;
  width: 90%;
  margin-bottom: 15px;
  display: flex;
  height: 70px;
  align-items: center;
}
.function__content:hover {
  background: #F5EDFF;
}
.function__content__step {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  left: -14px;
  width: 24px;
  height: 24px;
}
.function__content__text {
  padding-left: 15px;
}

#list-restaurants {
  background: #f7f7f7;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  #list-restaurants h2.restaurants__title {
    width: 100%;
  }
  #list-restaurants .box {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }
  #list-restaurants .restaurant {
    width: 20%;
  }
  #list-restaurants .btn__card {
    position: relative;
    padding-top: 0;
    right: 10px;
    top: 10px;
  }
  #list-restaurants .btn__card__new {
    position: absolute;
    right: 0;
  }
}

.btn__card {
  position: absolute;
  right: 2rem;
  padding-top: 1rem;
}
.btn__card__new {
  color: #008766;
  background: #99E2D0;
  border-radius: 2px;
  padding: 5px 10px;
}

.restaurant {
  box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  border-radius: 20px;
}
.restaurant__restaurant__description__title {
  margin-bottom: 15px;
}
.restaurant__img {
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.restaurant__description {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.restaurant__icone {
  align-items: center;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
