
//button order
.order{
    display: flex;
    justify-content: center;
    &__btn{
        background: linear-gradient(#FF79DA,#9356DC);
        border-radius: 25px;
        padding: 15px 50px;
        color: #fff;
        font-weight: 400;
        box-shadow: 2px 4px 20px #bfbfbf;
        margin: 0 0 40px 0;
        border: none;
        cursor: pointer;
        width: 200px;
        -webkit-transition: width 2s ease, background-color 5s ease;
        -moz-transition: width 2s ease, background-color 5s ease;
        -o-transition: width 2s ease, background-color 5s ease;
        transition: width 2s ease, background-color 5s ease;
        &:hover{
            width: 260px;
            background: linear-gradient(#fc85da,#a16fdf);
            box-shadow: 2px 4px 20px #777777;
        }
        @media screen and (min-width: $desktop){
            margin: -10px 0 50px 0;
        }
    }
    &__btn a{
        color: #fff;
        font-size: 1.2rem;
    }
  }

