
// search city
.city {
    background: #eaeaea;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
        padding-left: 10px;
    }
}

// explore
.explore {
    background: $colour-container;
    text-align: center;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    a{
        color: #fff;
    }
    &__text {
        color: #353535;
        padding-top: 15px;
        margin-bottom: 25px;
    }
    &__btn{
        @include btn
    }
}


// how to proceed
.function{
    padding: 20px;
    & > .box{
        display: flex;
        flex-direction: column;
        justify-content: unsafe;
        align-items: center;
    }
    &__title{
        font-size:1.5rem;
        margin-bottom: 15px;
        display: flex;
        align-self: flex-start;
    }
    &__content{
        background: #f7f7f7;
        box-shadow: 0px 4px 5px rgb(0 0 0 / 10%);
        border-radius: 20px;
        width: 90%;
        margin-bottom: 15px;
        display: flex;
        height: 70px;
        align-items: center;
        transition:all 1s;
        &:hover{
            background: #F5EDFF;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
        }
        &__step{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9356DC;
        border-radius: 50%;
        color: white;
        font-size: 12px;
        left: -14px;
        width: 24px;
        height: 24px;
        }
        &__text{
        padding-left: 15px;
        }
    }
    @media screen and (min-width: $desktop){
        padding: 70px 0;
        > .box{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            width: 88%;
            margin: auto;
        }
        &__title{
            width: 100%;
        }
        &__content{
            width: 25%;
            margin: 10px 25px 10px 15px;
        }
    }
}


// restaurant card
#list-restaurants{
    background: #f7f7f7;
    padding: 20px;
    display:flex;
    flex-direction: column;
}

.restaurant{
    box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    border-radius: 20px;
    transition: all 1s;
    &:hover{
        box-shadow: 0px 3px 15px 0 rgba(0, 0, 0, 0.4);
    }
    &__img {
        width: 100%;
        height: 180px;
        border-radius: 20px 20px 0px 0px;
    }
    &__icone{
        align-items: center;
        display: flex;
    }
    @media screen and (min-width: $desktop){
        width: 20%;
    }
}

.restaurant-description{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    &__h3{
        margin-bottom: 15px;
    }
}

.btn-card{
    position: absolute;
    right: 2rem;
    padding-top: 1rem;
    &__new{
        color: #008766;
        background: #99E2D0;
        border-radius: 2px;
        padding: 5px 10px;
    }
    @media screen and (min-width: $desktop){
        position: relative;
        padding-top: 0;
        right: 10px;
        top: 10px;
        &__new{
            position: absolute;
            right: 0;
        }
    }
}

@media screen and (min-width: $desktop){
    .container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        &>h2{
            width: 100%;
        }
    }
}

