@mixin btn {
    background: linear-gradient(#FF79DA,#9356DC);
    border-radius: 25px;
    padding: 15px 25px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin: 0 0 40px 0;
    cursor: pointer;
    box-shadow: 2px 4px 10px #bfbfbf;
    transition:all 1s;
    a{
        color: #fff;
        font-size: 1rem;
    }
    &:hover{
        background: linear-gradient(#fc85da,#a16fdf);
        box-shadow: 2px 4px 20px #777777;
    }
    @media screen and (min-width: $desktop){
        margin: 0 auto 20px;
    }
}
