
//color
$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-accent: #99E2D0;
$colour-white: #fff;
$colour-container: #f7f7f7;
$colour-invalid: #DB464B;

// media
$tablet: 768px;
$desktop: 1024px;